app.sublime-project
app.sublime-workspace
.DS_Store
tapioca/classes/controller/test
tapioca/classes/controller/redis.php
tapioca/logs/*/*/*
tapioca/cache/*/*
tapioca/config/production/*
tapioca/tmp/*
hooks/*
public/assets/cache/*
public/temp
public/files/*/*/*
composer.phar
!.gitkeep