
					<a href="#" class="app-nav-header" data-app-id="{{id}}" data-app-slug="{{slug}}">
						<span class="avatar">
							<!-- img src="/dynamic/apps/dior-logo.jpg" alt="" / -->
						</span>
						<h5 class="app-nav-name">{{name}}</h5>
					</a><!-- /.app-nav-header -->
					<div class="app-nav-lists">
						<h6>Admin</h6>
						<ul>
							<li>
								<a href="#">application</a>
							</li>
							<li>
								<a href="#">utilisateurs</a>
							</li>
						</ul>
						<h6>Documents</h6>
						<ul id="app-nav-collections-{{slug}}">
						</ul>

						<h6>Fichiers</h6>
						<ul>
							<li>
								<a href="#">Images</a>
							</li>
							<li>
								<a href="#">Videos</a>
							</li>
							<li>
								<a href="#">Autres</a>
							</li>
						</ul>
					</div><!-- /.app-nav-lists -->
