				{{#header}}
				<div class="app-content-header">
					<h2 class="page-name">{{name}} </h2>
					<!--div class="dropdown btn-group" id="locale-switcher"-->
					<div class="dropdown btn-group" id="locale-switch">
						<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
							{{../locale.working.label}}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							{{{localeSwitcher ../locale.list ../baseUri}}}
						</ul>
					</div>
					<div class="btn-group">
						<a class="btn" href="/app/{{app_id}}/document/{{namespace}}/new">
							<i class="icon-plus"></i>
							Ajouter
						</a>
						{{#editable}}
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
							<i class="icon-cogs"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="/app/{{app_id}}/collections/{{namespace}}/edit">
									<i class="icon-edit"></i>
									Editer
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/app/{{app_id}}/collections/{{namespace}}/empty">
									<i class="icon-trash"></i>
									Vider
								</a>
							</li>
						</ul>
						{{/editable}}
					</div>
				</div><!-- /#app-content-header -->
				{{/header}}
				<div class="pane-content header-active">
					<table class="table table-striped">
						<thead>
							<tr>
								{{#header.thead}}
								<th>{{.}}</th>
								{{/header.thead}}
								<th width="150">status</th>
								<th width="100"></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.pane-content -->