				<div class="pane-content">
					<form id="tapioca-collection-form" name="tapioca-collection-form" class="form-horizontal">
						<fieldset>
							<legend>Gestion de la collection</legend>

							<div class="control-group">
								<label class="control-label">Id</label>
								<div class="controls">
									<input id="namespace" name="namespace" type="text" value="{{ namespace }}" disabled class="span7">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Nom</label>
								<div class="controls">
									<input type="text" id="name" name="name" value="{{ name }}" required class="span7">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Description</label>
								<div class="controls">
									<textarea rows="3" id="desc" name="desc" class="span7">{{ desc }}</textarea>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Status</label>
								<div class="controls">
									<input type="text" id="status" name="status" value="{{ status }}" required class="span1">
								</div>
							</div>

							<hr>

							<div class="control-group">
								<label class="control-label">Schema</label>
								<div class="controls">
									<textarea id="structure" name="structure" rows="10" class="span7 lined">{{ structure }}</textarea>
								</div>
							</div>

							<hr>

							<div class="control-group">
								<label class="control-label">Summary</label>
								<div class="controls">
									<textarea id="summary" name="summary" rows="7" class="span7 lined">{{ summary }}</textarea>
									<p class="help-block">
										<label>
											<input type="checkbox" id="summary-edit" value="1" {{{summaryEdit}}}> 
											Editer manullement le résumé
										</label>
									</p>
								</div>
							</div>

							<hr>
							<div class="control-group">
								<label class="control-label">callback</label>
								<div class="controls">
									<textarea id="callback" name="callback" rows="7" class="span7 lined">{{ callback }}</textarea>
								</div>
							</div>
		<!-- <hr>

		<button class="save">Save</button>
		<button class="delete">Delete</button> 

							<input type="text" id="app_id" name="app_id" value="{{ app_id }}" required />
							-->
					</fieldset>
				</form>
				</div><!-- /.pane-content -->
				<div class="form-actions form-footer">
					<button type="submit" id="tapioca-collection-form-save" class="btn btn-primary disabled" disabled="disabled">Save changes</button>
					<button type="reset" class="btn">Cancel</button>
				</div><!-- /.form-actions -->
