				{{#header}}
				<div class="app-content-header">
					<h2 class="page-name">{{name}} </h2>
				</div><!-- /#app-content-header -->
				{{/header}}
				<div class="pane-content header-active" style="padding-top:70px">
					<table class="table table-striped" id="table-document-list">
						<thead>
							<tr>
								{{#header.thead}}
								<th>{{.}}</th>
								{{/header.thead}}
								<th width="100"></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.pane-content -->