				{{#header}}
				<div class="app-content-header">
					<h2 class="page-name">{{name}}</h2>

					<div class="btn-group">
						<a class="btn" href="#">
							<i class="icon-plus"></i>
							Ajouter
						</a>
						{{#editable}}
						<a class="btn" href="app/{{app_id}}/collections/{{namespace}}/edit">
							<i class="icon-edit"></i>
							Editer
						</a>
						<a class="btn btn-danger" href="app/{{app_id}}/collections/{{namespace}}/empty">
							<i class="icon-trash"></i>
							Vider
						</a>
						{{/editable}}
					</div>
				</div><!-- /#app-content-header -->
				{{/header}}
				<div class="pane-content header-active">
					<table class="table table-striped">
						<thead>
							<tr>
								{{#header.thead}}
								<th>{{.}}</th>
								{{/header.thead}}
								<th width="150">status</th>
								<th width="100"></th>
							</tr>
						</thead>
						<tbody>
						{{#documents}}
							<tr>
								{{{docSummary data}}}
								<td>
									{{date.created.sec}} 
									<span class="label label-info">Admin</span>
								</td>
								<td>
									<div class="btn-group float-right">
										<a href="#" class="btn btn-mini">
											<i class="icon-pencil"></i>
											Edit
										</a>
										<a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-mini">
											<i class="icon-cogs"></i>
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu pull-right">
											<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
											<li><a href="#"><i class="icon-key"></i> Make admin</a></li>
										</ul>
									</div>
								</td>
							</tr>
						{{/documents}}
						</tbody>
					</table
				</div><!-- /.pane-content -->