
									{{#each revisions}}
										<li {{#if active}}class="well"  id="revision-active"{{else}}class="revision"{{/if}}>
											<a href="{{../baseUri}}?locale={{locale}}&amp;revision={{revision}}">
												<span class="revision-id">#{{revision}}</span>
												<span class="revision-details">
													{{displayDate date}}<br>
													by {{user.name}}
												</span>
											</a>
											{{{displayStatus ../ref this ../appslug ../namespace}}}
										</li>
									{{/each}}
									