				<div class="pane-content">
					<form id="tapioca-document-form" class="form-horizontal">
						<div id="file-popin"></div>
						<div class="row-fluid">
							<div class="span8" id="form-holder">
								
							</div>
							<div class="span4">
								<ul id="revisions">
								</ul><!-- /#revisions -->
							</div><!-- /.span4 -->
						</div>
					</form>
				</div><!-- /.pane-content -->
				<div class="form-actions form-footer">
					<button type="submit" id="tapioca-document-form-save" class="btn btn-primary disabled" disabled="disabled">Save changes</button>
					<button type="reset" class="btn">Cancel</button>
				</div><!-- /.form-actions -->

				