						<div class="row-fluid">
							<div class="span2">&nbsp;</div>
							<div class="span10 offset2">
								<ul class="nav nav-pills">
									<li>
										<a href="#">all</a>
									</li>
									<li class="active">
										<a href="#">image</a>
									</li>
									<li>
										<a href="#">videos</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span2">
								tags
							</div>
							<div class="span10">
								<table class="table table-striped" id="table-file-list">
									<thead>
										<tr>
											<th>filename</th>
											<th>category</th>
											<th width="100"></th>
										</tr>
									</thead>
									<tbody>
										<tr id="file-collections-empty">
											<td colspan="3">no files</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
