
						<div class="row-fluid">
							<div class="span2" id="library-filters">
								<h4>Categories</h4>
								<ul id="category-list">
									<li class="active" data-category="all">toutes les categories</li>
									<li data-category="image">images</li>
									<li data-category="video">videos</li>
									<li data-category="document">documents</li>
									<li data-category="other">autres</li>
								</ul>
								<h4>Tags</h4>
								<ul id="tags-list">
									<li data-tag="all" class="active">tous les tags</li>
								</ul>
							</div>
							<div class="span10">
								<table class="table table-striped" id="table-file-list">
									<thead>
										<tr>
											<th>filename</th>
											<th>category</th>
											<th width="100"></th>
										</tr>
									</thead>
									<tbody>
										<tr id="file-collections-empty">
											<td colspan="3">no files</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
